* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;

}

.header {
    background-color: hsl(193, 100%, 96%);
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;

}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    /* margin-top: 50px; */
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.top img {

    padding-left: 50px;
}

.top button {
    color: black;
    border-radius: 25px;
    border: none;
    align-items: center;
    background-color: white;
    width: 200px;
    height: 40px;
    margin-right: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900px;

}

.top button:hover {
    /* color: paleturquoise; */
    background-color: bisque;
}

.below-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    width: 100%;
    height: 70%;
    margin-top: 20px;
}

.below-top-left {
    margin-left: 60px;
}

.below-top h2 {
    font-size: 37px;
}

.below-top p {
    font-size: 17px;
}

.below-top img {
    width: 50%;
    height: 50%;
    margin-right: 60px;

}

.below-top button {
    background-color: pink;
    color: white;
    border-radius: 25px;
    box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
    -webkit-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
    -moz-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
    border: none;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-right: 29px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900px;
}

.below-top button:hover {
    /* color: paleturquoise; */
    background-color: bisque;
}

.second-space {
    background-color: white;
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 60px;
    margin-top: 90px;
    margin-left: 64px;
    padding: 0%;
    box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
    -webkit-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
    -moz-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
    /* border-style: outset; */
    /* border-width: 1px; */
    border-radius: 7px;

}

.second-space-right {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.second-space h2 {
    font-size: 37px;

}

.second-space p {
    font-size: 17px;
    color: rgba(151, 150, 150, 0.836);
}

.second-space img {
    width: 40%;
    height: 40%;
    margin-right: 60px;
}

.third-space {
    background-color: white;
    display: flex;
    width: 90%;
    margin: 20px;
    margin-left: 64px;
    padding: 0%;
    padding-top: 45px;
    justify-content: space-between;
    box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
    -webkit-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
    -moz-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
    /* border-style: outset; */
    /* border-width: 1px; */
    border-radius: 7px;
}

.third-space-right {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.third-space h2 {
    font-size: 37px;
}

.third-space p {
    font-size: 17px;
    color: rgba(151, 150, 150, 0.836);
}

.third-space img {
    width: 40%;
    height: 40%;
    margin-right: 60px;
}

.fouth-space {
    background-color: white;
    display: flex;
    width: 90%;
    margin: 20px;
    margin-left: 64px;
    padding: 0%;
    padding-top: 40px;
    justify-content: space-between;
    box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
    -webkit-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
    -moz-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
    /* border-style: outset; */
    /* border-width: 1px; */
    border-radius: 7px;

}

.fouth-space-right {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.fouth-space h2 {
    font-size: 37px;
}

.fouth-space p {
    font-size: 17px;
    color: rgba(151, 150, 150, 0.836);
}

.fouth-space img {
    width: 40%;
    height: 40%;
    margin-right: 60px;
}

.fifth-space {
    background-color: white;
    width: 45%;
    height: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;

    box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
    -webkit-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
    -moz-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
    /* border-style: outset; */
    /* border-width: 1px; */
    border-radius: 9px;
    margin-left: 347px;

}

.fifth-space h2 {
    /* padding-top: 30px; */
    margin-bottom: -40px;
    justify-content: center;
}

.fifth-space button {
    background-color: pink;
    width: 200px;
    height: 40px;
    margin: 50px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900px;
    border-radius: 25px;
    border: none;
    align-items: center;
}

.fifth-space button:hover {
    /* color: paleturquoise; */
    background-color: bisque;
}

footer {
    background-color: rgb(8, 7, 7);
    color: white;
    margin: 0;
    margin-top: -60px;
    padding: 100px 60px;
    /* display: flex; */
    /* justify-content: space-between; */
}

.logo {
    width: 100%;

}

#path {
    fill: white;
}

.footer-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.footer-left {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 50%;
    margin-left: 20px;
}

.footer-left-down {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.footer-left-down img {
    padding-right: 20px;
}

.phone img {
    padding-right: 20px;
}

.email {
    margin-top: 30px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.email img {
    padding-right: 10px;
}

.middle {
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding-left: 20px;

}



.p {
    padding-bottom: 22px;
}

.footer-right {
    width: 470px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.footer-right p {
    padding-top: 120px;
}

nav {
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;
}

.footer-right svg {
    fill: white;
    width: 30px;
    height: 60%;
    padding: 6px;
    border: 2px solid white;
    border-radius: 50%;
}

.footer-right svg:hover {
    background-color: bisque;
}


@media screen and (max-width:576px) {

    body {
        background-color: white;
        width: 100%;
    }

    .header {
        background-color: hsl(193, 100%, 96%);
        background-image: url(./images/bg-hero-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-width: 100vw;
        min-height: 100vh;
        margin: 0;
    }


    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px;
        padding-top: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .top img {

        width: 200px;
    }

    .top button {
        color: black;
        border-radius: 25px;
        border: none;
        align-items: center;
        background-color: white;
        width: 100px;
        height: 40px;
        margin-right: 34px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 900px;

    }

    .top button:hover {

        background-color: rgb(218, 178, 129);

    }

    .below-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 30px;
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }

    .below-top-left {
        width: 100%;
        text-align: center;
        /* background-color: brown; */
        margin-left: 00px;
    }

    .below-top-left h2 {
        width: 100%;
        text-align: center;
        font-size: 37px;
        padding: 10px;

    }

    .below-top-left p {
        font-size: 18px;
        width: 100%;
        text-align: center;
        padding: 20px;
        /* padding: 10px 10px 40px 10px; */


    }

    .below-top img {
        width: 90%;
        height: 90%;
        align-items: center;
        margin: 60px;

    }

    .below-top button {
        background-color: rgb(168, 16, 41);
        color: white;
        border-radius: 25px;
        box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
        -webkit-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
        -moz-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
        border: none;
        align-items: center;
        width: 50%;
        height: 40px;
        margin-right: 00px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 900px;
    }

    .container {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin: 0;
        margin-right: 0px;
        padding: 0;



    }

    .second-space {
        background-color: white;
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        align-items: center;
        justify-content: space-between;
        box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
        -webkit-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
        -moz-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
        border-radius: 7px;

    }

    .second-space-right {
        display: flex;
        flex-direction: column;

    }

    .second-space h2 {
        font-size: 34px;
        text-align: center;

    }

    .second-space p {
        width: 100%;
        text-align: center;
        font-size: 16.6px;
        color: rgba(151, 150, 150, 0.836);
    }

    .second-space img {
        align-items: center;
        width: 270px;
        height: 100%;
        margin: 20px;
        margin-left: 35px;
        padding: 14px;
    }

    .third-space {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: space-between;
        box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
        -webkit-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
        -moz-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
        border-radius: 7px;
        margin: 0px;
    }

    .third-space-right {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .third-space h2 {
        font-size: 34px;
        text-align: center;
    }

    .third-space p {
        font-size: 16.6px;
        text-align: center;

        color: rgba(151, 150, 150, 0.836);
    }

    .third-space img {
        align-items: center;
        width: 270px;
        height: 100%;
        margin: 20px;
        margin-left: 34px;
        padding: 14px;
    }

    .fouth-space {
        background-color: white;
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: 55px 0px;
        justify-content: space-between;
        box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
        -webkit-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
        -moz-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
        border-radius: 7px;

    }

    .fouth-space-right {
        display: flex;
        flex-direction: column;
        margin: 50px;
        text-align: center;
    }

    .fouth-space h2 {
        font-size: 34px;
    }

    .fouth-space p {
        font-size: 17px;
        color: rgba(151, 150, 150, 0.836);
    }

    .fouth-space img {
        align-items: center;
        width: 270px;
        height: 100%;
        margin: 14px;
        margin-left: 35px;
        padding: 14px;
    }

    .fifth-space {
        background-color: white;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
        -webkit-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
        -moz-box-shadow: -7px -6px 28px 5px rgba(235, 221, 221, 0.75);
        border-radius: 7px;
        margin-left: 5%;
    }

    .fifth-space h2 {
        text-align: center;
        margin-bottom: -40px;
        justify-content: center;
    }

    .fifth-space button {
        background-color: rgb(221, 71, 96);
        width: 200px;
        height: 40px;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 900px;
        border-radius: 25px;
        border: none;
    }

    .fifth-space button:hover {

        background-color: bisque;
    }

    footer {
        background-color: rgb(8, 7, 7);
        color: white;
        margin: 0;
        margin-top: -60px;
        padding: 100px 60px;
        /* display: flex; */
        /* justify-content: space-between; */
    }

    .logo {
        width: 100%;
        margin-top: 70px;
        margin-right: 100px;

    }

    #path {
        fill: white;
    }

    .footer-all {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }

    .footer-left {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    /* .footer-left-down
    .footer-left-down p {
        background-color: brown;
        display: flex;
        width: 100%;
        text-align: center;
        font-size: 16px;
    } */

    .footer-left-down img {
        padding-right: 20px;
    }

    .phone img {
        padding-right: 20px;
    }

    .email {
        margin-top: 30px;
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    }

    .email img {
        padding-right: 10px;
    }

    .middle {
        display: flex;
        flex-direction: column;
        width: 100%;
        line-height: 30px;
    }


    .footer-right {
        width: 470px;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }

    nav {
        width: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 150px;
    }

    .footer-right svg {
        fill: white;
        width: 30px;
        height: 60%;
        padding: 6px;
        border: 2px solid white;
        border-radius: 50%;
    }

    .footer-right svg:hover {
        background-color: bisque;
    }

}